a {
	border-bottom: none;
}

#banner.style2 {
	background-image: url("../img/banner2.jpg");
}


.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 90vh;
	max-height: 100%;
	object-fit: conatin;
}

@media all and (max-aspect-ratio: 4/3) {
	.photo {
		width: 90vw;
		height: auto;
		max-width: 100%;
	}
}
